
body{
    font-family: 'Stylish', sans-serif;
    
}
header{
    background-image: url(/assets/cherryblossom.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(136, 133, 136, 0.8);
    height: auto;
}
.myname{
    font-family: 'Marck Script', cursive;
    opacity: none;
    margin:0;
    color:white;
}
.nav-format{
    list-style-type:none;
    color:black;
}
.nav-format a{
    color:white;
}

.sec-col-1{
    height:3vh;
}
.profile-img{
    border-radius:6vw;
}

.icon{
    color:#f6bff8
}
.nav-format li{
    padding-right:2vw;
}

.sec-col-3{
    height:5vh;
    color:white;
}
.about-bg{
    background-color: #FFE6EB;
}
.nav-me{
    color:#f6bff8;
    font-family: 'Marck Script', cursive;
}
.skills-icon{
    margin-right:1vw;
    margin-bottom:1vh;
    font-size:15vh;
    color:rgb(187, 42, 102)
}
.contact-bg{
    background-color:#FFE6EB;
}
.port-icon{
    margin-right: 3vw;
}
.title{
    color:white;
}
.maintitles{
    font-family: 'Marck Script', cursive;
}
.footer-me{
    color:white;
    font-family: 'Marck Script', cursive;
}
