
body{
    font-family: 'Stylish', sans-serif;
  
}
.bg-image{
    background-image: url(/assets/cherryblossom.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    height: 100vh;
}
.myname{
    font-family: 'Marck Script', cursive;
    height:25vh;
    opacity: none;
    margin:0;
}
.nav-format{
    list-style-type:none;
    color:black;
}
.sec-col-1{
    height:10vh;
}
.profile-img{
    border-radius:6vw;
    margin-top:10vh;
}
.nav-col-2{
    padding-top:3vh;

}
.icon{
    color:#f6bff8
}
.nav-format li{
    padding-right:2vw;
}
.sec-col{
    justify-content: center;
}
.sec-col-3{
    height:10vh;
}