
body{   
    font-family: 'Pompiere', cursive;
    background-color: rgb(20, 18, 18);
    height: 50%;
    
    
}
html{
    height:110%;
}
.container-fluid{

    background-color:transparent;

}

.info-me{
    margin:0;
}

.myname{
    font-family: 'IM Fell English SC', serif;
    color:black;
}

.nav-format{
    list-style-type:none;
    color:black;
    
}

.sec-col-1{
    height:3vh;
}
.profile-img{
    border-radius:2vw;
    height:100%;
    
    
}
.row-img{
    padding-top:1vh;
}
.maintitles-p{
    color:#f6bff8;
    font-family: 'Marck Script', cursive;
}
.contactinfo{
    font-family: 'IM Fell English SC', serif;
    
}
.icon{
    color:rgb(187, 42, 102)
}
.nav-format a{
    color:#f6bff8;
    font-size: 3vh;
    margin:0;
}
.nav-format li{
    padding-right:2vw;
}

/* .sec-col-3{
    height:5vh;
    color:white;
} */
.about-bg{
    background-color: #FFE6EB;
}
.nav-me{
    color:#f6bff8;
    font-family: 'Marck Script', cursive;
    margin: 0;
    font-size: 3vh;
}

.aboutme{
    font-size: 3vh;
    margin: 0;
    padding-bottom: 2vh;
    
}
.skills-icon{
    margin-right:1vw;
    margin-bottom:1vh;
}
.contact-bg{
    background-color:#FFE6EB;
}
.port-icon{
    margin-right: 3vw;
}

.maintitles{
    font-family: 'Marck Script', cursive;
    margin:0;
}
.footer-me{
    font-family: 'Marck Script', cursive;
    
}
.parallax {
    /* The image used */
    background-image: url("../ehud-neuhaus-191867-unsplash.jpg");

    /* Set a specific height */
    height: 65%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.port-icon{
    height:150px;
    width:150px;
    
}
.projects{
    text-align: center;
    color:#f6bff8;
    margin-right: 3vw;
}

/* .info-me{
    border-bottom: 5px solid rgba(105, 105, 105, 0.404);
} */